---
import { Icon } from "astro-icon/components";
import { projects } from "@/helpers/projects";

interface Props {
    listSkills: Array<{
        category: string;
        skills: Array<{ name: string }>;
    }>;
}

const { listSkills } = Astro.props;

const norepeatSkills = [
    ...new Set(
        projects.flatMap((f) =>
            f.data.flatMap((x) => x.techs.map((t) => t.name)),
        ),
    ),
];
---

<div class="md:w-1/5 sticky md:static bottom-4 md:bottom-auto relative z-10">
    <div
        class="flex flex-col md:sticky bottom-0 md:top-4 md:bottom-auto md:overflow-y-auto pb-8 items-end boxSkills"
    >
        <div
            id="tagsFilter"
            class="h-fit w-fit duration-300 md:bg-transparent z-70 relative"
        >
            <div
                id="hideFilters"
                class="flex w-fit md:bg-transparent right-0 border border-b-0 md:border-none justify-self-end"
            >
                <p class="font-bold mx-2 md:mx-0 bg-(--bg)">Filtrar por</p>
                <Icon
                    name="lucide:chevron-down"
                    class="h-6 w-auto justify-self-center md:hidden cursor-pointer rotate-180 duration-500"
                />
            </div>

            <div
                id="containerFilters"
                class="grid grid-rows-[0fr] lg:grid-rows-[1fr] overflow-hidden lg:overflow-auto border-t md:border-none md:bg-transparent transition-[grid-template-rows] duration-500 ease-in-out"
            >
                <div class="min-h-0 w-full">
                    <div
                        class="flex flex-col overflow-x-auto md:overflow-visible"
                    >
                        {
                            listSkills.map((s) => (
                                <div class="md:pb-[10%]">
                                    <p class="hidden md:block mb-2 text-sm">
                                        {s.category}
                                    </p>
                                    <div class="flex flex-wrap">
                                        {s.skills
                                            .sort((a, b) =>
                                                a.name.localeCompare(b.name),
                                            )
                                            .map((l) => {
                                                if (
                                                    norepeatSkills.includes(
                                                        l.name,
                                                    )
                                                )
                                                    return (
                                                        <a
                                                            class="cursor-pointer m-1 relative opacity-40 rounded-full border px-[6px] duration-400"
                                                            data-category={
                                                                l.name
                                                            }
                                                        >
                                                            {l.name}
                                                        </a>
                                                    );
                                            })}
                                    </div>
                                </div>
                            ))
                        }
                    </div>

                    <div
                        class="flex flex-row md:flex-col justify-around mt-4 md:mt-6 pb-4 md:pb-0"
                    >
                        <div id="typeFilter" class="flex flex-col">
                            <p class="mb-3 text-xs font-semibold">
                                Tipo de coincidencia
                            </p>
                            <div class="flex md:mb-4">
                                <a
                                    id="softFilter"
                                    data-typefilter="softFilter"
                                    class="flex justify-center opacity-40 border px-3 cursor-pointer w-fit duration-400 rounded-l-full h-full"
                                >
                                    Parcial
                                </a>
                                <a
                                    id="hardFilter"
                                    data-typefilter="hardFilter"
                                    class="flex justify-center opacity-40 border px-3 cursor-pointer w-fit duration-400 rounded-r-full h-full"
                                >
                                    Total
                                </a>
                            </div>
                        </div>

                        <a
                            id="clearfilters"
                            class="flex self-end invisible md:self-start md:mt-auto flex-shrink-0 duration-1000 px-[6px] cursor-pointer items-center text-red-500 mb-[2px]"
                        >
                            <Icon
                                name="lucide:filter-x"
                                class="h-5 md:mx-1 w-auto self-center"
                            />
                            <p class="block">Borrar filtros</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        import { getNodes } from "@/scripts/nodes";

        document.addEventListener("DOMContentLoaded", () => {
            const nodes = getNodes();

            const hideFilters = nodes.hideFilters;
            const containerFilters = nodes.containerFilters;
            const icon = hideFilters?.querySelector("svg");

            hideFilters?.addEventListener("click", () => {
                containerFilters?.classList.toggle("grid-rows-[1fr]");
                icon?.classList.toggle("rotate-180");
            });
        });
    </script>
</div>
