---
import ImgProjects from "@/components/ImgProjects.astro";
import type { imagesType } from "@/types/project";

interface Props {
    projects: any[];
    allSkillsFlat: any;
}

const { projects, allSkillsFlat } = Astro.props;
---

<div data-results-section class="w-full duration-400 is-hidden">
    <div id="titleResults" class="text-xl font-bold mb-4 border-b pb-2 w-full">
        Resultados
    </div>
    <div class="flex flex-wrap w-full">
        {
            projects.map((all) =>
                all.data.map((t: imagesType, i: number) => (
                    <div class="flex w-fit self-center max-w-[48%] max-w-80 w-[70%] lg:max-w-[31%] mx-[1%] contenedor-destacados">
                        <ImgProjects
                            data={t}
                            index={i}
                            allSkillsFlat={allSkillsFlat}
                        />
                    </div>
                )),
            )
        }
        <p
            id="nextTime"
            class="hidden opacity-0 mb-15 text-neutral-500 w-full text-center py-8"
        >
            Nuevos proyectos en camino
        </p>
    </div>
</div>
