@import "tailwindcss";

@theme {
    --initialFont: 'Open Sans', sans-serif;
    --fontTest1: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --fontTest2: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --finalFont: 'Courier New', Courier, monospace;
    --writing-vertical: vertical-lr;
}

@property --grad-pos {
    syntax: '<length-percentage>';
    inherits: false;
    initial-value: 0%;
}

@property --grad-degrade {
    syntax: '<length-percentage>';
    inherits: false;
    initial-value: 0%;
}

:root {
    --bg: #f3f4f6;
    --bg-50: #f3f4f680;
    --text-primary: #121212;
    --text-secondary: #575761;
    --bg-off: #121212;
    --bg-on: #f3f4f6;
}

html.dark {
    --bg: #121212;
    --bg-50: #12121280;
    --text-primary: #f5f5f4;
    --text-secondary: #9f9fa9;
}

body {
    background-color: var(--bg);
    transition: color 0.3s ease;
}

h1,
.h1 {
    font-size: clamp(1.625rem, 3.5vw, 2.125rem);
    font-weight: 700;
    line-height: 1.2;
}

h2,
.h2 {
    font-size: clamp(1.375rem, 2.5vw, 1.75rem);
    font-weight: 600;
    line-height: 1.25;
}

h3,
.h3 {
    font-size: clamp(1.125rem, 2vw, 1.375rem);
    font-weight: 500;
    line-height: 1.3;
}

p {
    font-size: clamp(1rem, 1.5vw + 0.25rem, 1.125rem);
    line-height: 1.5;
    font-weight: 400;
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

#mySite {
    position: static;
    z-index: 99;
    padding: 64px 0;
}

*:has(h1, h2, h3, a span),
.dark *:has(h1, h2, h3, a span) {
    color: var(--text-primary);
}

#title.noAnimated,
#subtitle.noAnimated {
    transition: all 0.8s;
    animation: transY 0.8s;
}

#title:not(.noAnimated),
#subtitle:not(.noAnimated) {
    transition: all 5s;
}

@keyframes transY {
    from {
        transform: translateY(1rem);
    }
    to {
        transform: translateY(0px);
    }
}

#title p {
    font-size: clamp(1.625rem, 3.5vw, 2.125rem);
    font-weight: 700;
    line-height: 1.2;
}

#subtitle p {
    font-size: clamp(1.375rem, 2.5vw, 1.75rem);
    font-weight: 600;
    line-height: 1.25;
}

#menu {
    background-color: var(--bg);
    color: var(--text-primary);
    transition: color 0s ease-in-out, background-color 0s ease-in-out;
}

.dark #menu {
    transition: color 0.5s ease-in-out 0.2s, background-color 0.5s ease-in-out 0.6s;
}

#menu p {
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.dark .tooltip,
.tooltip,
.dark #steps,
#steps {
    background-color: var(--bg);
}

.dark #form,
#form {
    border-color: var(--bg);
}

.dark #form *::placeholder,
#form *::placeholder {
    color: var(--text-primary);
    opacity: 50%;
}

.textCursor {
    animation: tilt 1.1s steps(1) infinite;
    border-right: 1px solid;
}

@keyframes tilt {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.dangerText {
    animation: dangerAnim 3s infinite;
    color: rgb(255, 133, 133);
}

@keyframes dangerAnim {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

#genSite p {
    scale: 1;
    transition: all 1s;
    transform-origin: center left;
    font-size: 16px;
    height: 30px;
    opacity: 0.5;
}

#genSite p.active {
    font-size: 20px;
    transform-origin: center left;
    color: aqua;
    transform: scaleZ(1.15);
    transition: all 1s;
    opacity: 1;
}

#genSite p.active.ok {
    color: lightgreen;
}

#bgSite {
    position: fixed;
    inset: 0;
    z-index: -10;
    overflow: hidden;
    background-color: var(--bg-off);
    width: 100vw;
    height: 100vh;
    transform: translateZ(0);
    backface-visibility: hidden;
}

#menuBg {
    position: absolute;
    inset: 0;
    z-index: -10;
    overflow: hidden;
    background-color: var(--bg-off);
    width: 100%;
    height: 100%;
    transform: translateZ(0);
    backface-visibility: hidden;
}

#bgSite::before,
#menuBg::before {
    content: "";
    position: absolute;
    width: 300vmax;
    height: 300vmax;
    transform-origin: center;
    left: 30px;
    top: calc(50% + 68px);
    right: unset;
    bottom: unset;
    will-change: transform, opacity;
    background: radial-gradient(circle,
            var(--bg-on) 0%,
            var(--bg-on) 40%,
            transparent 60%);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition:
        transform 2.8s cubic-bezier(0.15, 0.85, 0.31, 1),
        opacity 1.2s cubic-bezier(0.25, 1, 0.5, 1);
}

.dark #bgSite::before,
.dark #menuBg::before {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition:
        transform 1.2s cubic-bezier(0.15, 0.85, 0.31, 1),
        opacity 2.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.contenedor-destacados:has(.is-hidden) {
    display: none !important;
}

.isFilter,
[data-results-section],
#nextTime,
button#clearfilters,
.contenedor-destacados {
    transition: opacity 300ms ease-in-out;
    opacity: 1;
}

.is-animating {
    opacity: 0 !important;
}

.is-hidden {
    display: none !important;
}

@media (max-width: 767px) {
    #bgSite::before,
    #menuBg::before {
        left: unset;
        top: unset;
        transform: translate(50%, 50%) scale(1);
    }

    #menuBg::before {
        right: 40px;
        bottom: 24px;
    }

    #bgSite::before {
        right: 40px;
        bottom: 24px;
    }

    .dark #bgSite::before,
    .dark #menuBg::before {
        transform: translate(50%, 50%) scale(0);
    }
}