<section>
    <div id="boxPres" class="flex flex-col min-h-[50dvh] pt-10 px-4">
        <div class="max-w-100">
            <div id="dev" class="flex min-w-[52px]">
                <h1 id="textDev"></h1>
                <p id="cursor" class="textCursor h1"></p>
            </div>
            <div id="aboutMe" class="duration-800 opacity-0 mt-2 translate-y-4">
                <h2>Desarrollador frontend</h2>
                <!-- ANTERIOR -->
                <p class="text-(--text-secondary)">
                    Desarrollador Frontend & QA con experiencia en la creación
                    de soluciones web dinámicas, eficientes y robustas.
                    Especializado en el ecosistema de JavaScript, React y
                    TypeScript, combino mi experiencia en testing de software
                    para garantizar interfaces de alta calidad, accesibles y con
                    un diseño píxel-perfect.
                </p>
                <!-- GEMINI -->
                <p class="text-(--text-secondary)">
                    Soy un Desarrollador Frontend & QA especializado en el
                    ecosistema de JavaScript, React y TypeScript. Mi fuerte
                    radica en construir interfaces dinámicas, eficientes y
                    píxel-perfect, aplicando principios de UX/UI a través de
                    herramientas como Tailwind CSS y Astro. Gracias a mi sólida
                    base en QA/Testing (Manual y Automatizado), diseño código
                    robusto desde la raíz, garantizando la escalabilidad de los
                    componentes, la optimización de rendimiento y flujos de
                    trabajo libres de errores antes del despliegue en
                    producción.
                </p>
                <!-- CLAUDE -->
                <p class="text-(--text-secondary)">
                    Soy un Desarrollador Frontend & QA especializado en el
                    ecosistema de JavaScript, React y TypeScript. Mi fuerte
                    radica en construir interfaces dinámicas, eficientes y
                    píxel-perfect, aplicando principios de UX/UI a través de
                    herramientas como Tailwind CSS y Astro. Gracias a mi sólida
                    base en QA/Testing (Manual y Automatizado), diseño código
                    robusto desde la raíz, garantizando la escalabilidad de los
                    componentes, la optimización de rendimiento y flujos de
                    trabajo libres de errores antes del despliegue en
                    producción.
                </p>
            </div>
        </div>
    </div>
</section>
