<section>
    <div id="boxPres" class="flex flex-col h-[50dvh] pt-10 px-4">
        <div class="max-w-100">
            <div id="dev" class="flex min-w-[52px]">
                <h1 id="textDev"></h1>
                <p id="cursor" class="textCursor h1"></p>
            </div>
            <div id="aboutMe" class="duration-800 opacity-0 mt-2 translate-y-4">
                <h2>Desarrollador frontend</h2>
                <p>
                    Soy un desarrollador frontend apasionado y versátil.
                    Especializado en el ecosistema de JavaScript y React, busco
                    brindarte soluciones digitales enfocadas en la experiencia
                    del usuario, cuidando los detalles del diseño.
                    <br />
                    Actualmente tengo un nivel de inglés B1 lo que me permite integrarme
                    en equipos multiculturales y constantemente estoy expandiendo
                    mis habilidades de forma autodidacta en tecnologías como GSAP,
                    Astro, Python y WordPress.
                </p>
            </div>
        </div>
    </div>
</section>
