<section>
    <div id="boxPres" class="flex flex-col min-h-[50dvh] pt-10 px-4">
        <div class="max-w-100">
            <div id="dev" class="flex min-w-[52px] mb-2">
                <h1 id="textDev"></h1>
                <p id="cursor" class="textCursor h1"></p>
            </div>
            <div id="aboutMe" class="duration-800 opacity-0 translate-y-4">
                <h2 class="mb-1">Desarrollador frontend</h2>
                <p class="text-(--text-secondary)">
                    Soy Desarrollador Frontend enfocado en el ecosistema de
                    React, Next.js y TypeScript. Disfruto diseñando experiencias
                    interactivas y pixel-perfect aprovechando el potencial de
                    herramientas como Astro o Supabase. Para complementar mi
                    perfil, sumo mi experiencia en QA, lo que me permite
                    asegurar que cada interfaz sea tan robusta por dentro como
                    atractiva por fuera. Curioso por naturaleza, siempre estoy
                    aprendiendo y probando las últimas tecnologías.
                </p>
            </div>
        </div>
    </div>
</section>
