<section>
    <div
        id="boxPres"
        class="flex flex-col min-h-[50dvh] pt-10 px-4 w-full items-center justify-end"
    >
        <div class="max-w-160 w-full">
            <div id="dev" class="flex min-w-[52px] mb-2">
                <h1
                    id="title"
                    class="flex whitespace-pre-wrap opacity-0 duration-[5000ms] h1"
                >
                </h1>
            </div>
            <h2
                id="subtitle"
                class="mb-1 flex whitespace-pre-wrap opacity-0 duration-[5000ms] h2"
            >
            </h2>
            <div
                id="aboutMe"
                class="duration-800 opacity-0 translate-y-4 duration-500"
            >
                <p class="text-(--text-secondary)">
                    Me enfoco en el ecosistema de React, Next.js y TypeScript.
                    Disfruto diseñando experiencias interactivas y pixel-perfect
                    aprovechando el potencial de herramientas como Astro o
                    Supabase. Para complementar mi perfil, sumo mi experiencia
                    en QA, lo que me permite asegurar que cada interfaz sea tan
                    robusta por dentro como atractiva por fuera. Curioso por
                    naturaleza, siempre estoy aprendiendo y probando las últimas
                    tecnologías.
                </p>
            </div>
        </div>
    </div>
</section>
