<section
    id="steps"
    class="fixed bottom-0 left-0 w-full h-[15dvh] border-t border-[#555555] duration-800 z-999"
>
    <p class="">Cargando porfolio...</p>
    <div class="h-full overflow-hidden">
        <div id="genSite" class="duration-800">
            <p class="content-center">Añadiendo texto</p>
            <p class="content-center">Posicionando elementos</p>
            <p class="content-center">Agregando estilos</p>
            <p class="content-center ok">Bienvenido a mi portfolio</p>
        </div>
    </div>
</section>
