---
import { Icon } from "astro-icon/components";
---

<section>
    <div
        id="menu"
        class="group fixed bottom-0 md:bottom-auto left-0 right-0 md:right-auto
        md:w-fit h-fit z-50 border-y md:border bg-transparent overflow-visible
        duration-500 opacity-0 translate-y-full md:-translate-x-full md:translate-y-0"
    >
        <div id="menuBg" class=""></div>

        <div
            class="w-full md:w-auto overflow-x-auto overflow-y-visible md:overflow-visible"
        >
            <div
                id="menuContainer"
                class="flex px-5 md:px-2 py-3 justify-around md:flex-col w-max md:w-fit md:justify-between md:gap-2"
            >
                <div class="fixed md:hidden left-0">
                    <Icon
                        name="line-md:chevron-left"
                        class="w-6 h-6 text-center rounded-e-full"
                    />
                </div>
                <div class="fixed md:hidden right-0">
                    <Icon
                        name="line-md:chevron-right"
                        class="w-6 h-6 text-center rounded-s-full"
                    />
                </div>

                <a href="#mySite" class="flex items-center cursor-pointer">
                    <div
                        class="flex items-center justify-center min-w-[2.5rem]"
                    >
                        <Icon
                            name="line-md:account"
                            class="w-5 h-6 text-center"
                        />
                    </div>
                    <p
                        class="flex text-[14px] whitespace-nowrap overflow-hidden md:opacity-0 md:group-hover:opacity-100 md:group-hover:w-[var(--max-width)]"
                    >
                        Sobre mi
                    </p>
                </a>

                <a href="#skills" class="flex items-center cursor-pointer">
                    <div
                        class="flex items-center justify-center min-w-[2.5rem]"
                    >
                        <Icon
                            name="line-md:lightbulb-filled"
                            class="w-5 h-6 text-center"
                        />
                    </div>
                    <p
                        class="flex text-[14px] whitespace-nowrap overflow-hidden md:opacity-0 md:group-hover:opacity-100 md:group-hover:w-[var(--max-width)]"
                    >
                        Habilidades
                    </p>
                </a>

                <a href="#projects" class="flex items-center cursor-pointer">
                    <div
                        class="flex items-center justify-center min-w-[2.5rem]"
                    >
                        <Icon
                            name="line-md:briefcase-check-filled"
                            class="w-5 h-6 text-center"
                        />
                    </div>
                    <p
                        class="flex text-[14px] whitespace-nowrap overflow-hidden md:opacity-0 md:group-hover:opacity-100 md:group-hover:w-[var(--max-width)]"
                    >
                        Mis proyectos
                    </p>
                </a>

                <a href="#contact" class="flex items-center cursor-pointer">
                    <div
                        class="flex items-center justify-center min-w-[2.5rem]"
                    >
                        <Icon
                            name="line-md:email"
                            class="w-5 h-6 text-center"
                        />
                    </div>
                    <p
                        class="flex text-[14px] whitespace-nowrap overflow-hidden md:opacity-0 md:group-hover:opacity-100 md:group-hover:w-[var(--max-width)]"
                    >
                        Contacto
                    </p>
                </a>

                <div
                    id="containerCv"
                    class="flex flex-col cursor-pointer group/cv"
                >
                    <div class="flex">
                        <div
                            class="flex items-center justify-center min-w-[2.5rem]"
                        >
                            <Icon
                                name="line-md:text-box-to-text-box-multiple-transition"
                                class="w-5 h-6 text-center"
                            />
                        </div>
                        <p
                            class="flex text-[14px] whitespace-nowrap overflow-hidden md:opacity-0 md:group-hover:opacity-100 md:group-hover:w-[var(--max-width)]"
                        >
                            Descargar CV
                        </p>
                    </div>
                    <div
                        id="downloadCv"
                        class="absolute w-[stretch] bottom-full left-1/2 md:static flex flex-col h-0 md:w-0 duration-300 overflow-hidden border-x border-t md:border-0"
                    >
                        <a
                            href="/digital/Ezequiel%20Arena%20CV.pdf"
                            target="_blank"
                            class="ps-2 md:ps-4 my-1 whitespace-nowrap w-fit justify-end md:justify-start"
                            >Version digital</a
                        >
                        <a
                            href="/print/Ezequiel%20Arena%20CV.pdf"
                            target="_blank"
                            class="ps-2 md:ps-4 whitespace-nowrap w-fit justify-end md:justify-start"
                            >Version imprimir</a
                        >
                    </div>
                </div>
                <!-- <div id="mode" class="flex items-center cursor-pointer">
                    <div
                        class="flex items-center justify-center min-w-[2.5rem]"
                    >
                        <Icon
                            name="line-md:light-dark"
                            class="w-5 h-6 text-center"
                        />
                    </div>
                    <p
                        class="hidden md:flex text-[14px] whitespace-nowrap overflow-hidden md:opacity-0 md:group-hover:opacity-100 md:group-hover:w-[var(--max-width)]"
                    >
                        Modo claro
                    </p>
                </div> -->
            </div>
        </div>
    </div>
</section>

<script>
    import { mediaQ } from "@/scripts/nodes";

    document.addEventListener("DOMContentLoaded", () => {
        // const modeBtn = document.querySelector("#mode");
        // const textMode = modeBtn?.querySelector("p");

        let actualMode: string = document.documentElement.classList.contains(
            "dark",
        )
            ? "dark"
            : "light";

        // const applyTheme = (theme: string) => {
        //     if (theme === "dark") {
        //         document.documentElement.classList.add("dark");
        //         if (textMode) {
        //             textMode.innerText = "Modo claro";
        //         }
        //     } else {
        //         document.documentElement.classList.remove("dark");
        //         if (textMode) {
        //             textMode.innerText = "Modo oscuro";
        //         }
        //     }
        //     localStorage.setItem("theme", theme);
        //     actualMode = theme;
        // };

        // window
        //     .matchMedia("(prefers-color-scheme: dark)")
        //     .addEventListener("change", (event) => {
        //         if (!localStorage.getItem("theme")) {
        //             const newTheme = event.matches ? "dark" : "light";
        //             applyTheme(newTheme);
        //         }
        //     });

        // if (!modeBtn) return;

        // modeBtn.addEventListener("click", () => {
        //     const nextTheme = actualMode === "dark" ? "light" : "dark";
        //     applyTheme(nextTheme);
        // });

        const menu = document.getElementById("menu");

        const hNav = document.getElementById("menuContainer");

        const positionMenu = (e: MediaQueryListEvent | MediaQueryList) => {
            if (!menu || !hNav) return;
            if (e.matches) {
                menu.style.top = "unset";
            } else {
                menu.style.top = `calc(50% - ${hNav?.offsetHeight / 2}px)`;
            }
        };

        positionMenu(mediaQ);

        mediaQ.addEventListener("change", positionMenu);

        const wNab =
            document.querySelectorAll<HTMLParagraphElement>("#menuContainer p");
        let widthMax: number = 0;

        wNab.forEach((w) => {
            const wElement = w.clientWidth;

            if (widthMax < wElement) {
                widthMax = wElement + 8;
            }
        });

        wNab.forEach((w) => {
            w.classList.add("md:w-0", "md:duration-300");

            w.style.setProperty("--max-width", `${widthMax}px`);
        });

        const downloadCv = document.getElementById("downloadCv");
        const downloadCvRef =
            document.querySelectorAll<HTMLParagraphElement>("#downloadCv a");
        const containerCv = document.querySelector("#containerCv p");
        let openCV = false;

        const showCv = (e: MediaQueryListEvent | MediaQueryList) => {
            if (!downloadCv) return;

            if (openCV) {
                downloadCv.style.height = "0px";
                if (!e.matches) {
                    downloadCv.style.width = "0";
                } else {
                    downloadCv.style.width = "100%";
                }
                openCV = false;
            } else {
                downloadCv.style.width = "100%";
                downloadCv.style.height = "56px";
                openCV = true;
            }
        };

        containerCv?.addEventListener("click", () => {
            showCv(mediaQ);
        });

        menu?.addEventListener("mouseleave", () => {
            if (!downloadCv) return;
            openCV = true;
            showCv(mediaQ);
        });
    });
</script>
